
@font-face {
    font-family: 'Pixel Emulator';
    src: url('/assets/fonts/PixelEmulator-xq08.ttf');
}


body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.1);
}

img {
	display: none;
}
svg {
	display: none;
}

canvas {
	display: none;
}

.home {
	display: block;
	height: 100vh;
	background: url(./assets/images/background-home-v2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.home .start-now {
	position: absolute;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
	padding: 10px 15px;
	cursor: pointer;
<<<<<<< Updated upstream
	background-image: url("./assets/images/wood2.jpg");
	object-fit:cover;
	color: rgb(228, 197, 131);
	border-radius: 10%;
	font-family: "Pixel Emulator";
	font-size: 30px;
	letter-spacing: 3px;
	
=======
>>>>>>> Stashed changes
}
.home .start-now:hover {
	background-color: rgb(99, 153, 153);
}


.game-over-modal {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	/* display: none; */
	background-color: rgb(71, 70, 70);
	height: 50vh;
	width: 50vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}